
@{
    ViewBag.Title = "Quan4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/DoiNuoc.css">
<div class="custom-body1">
    <div class="page-container">
        <div class="main-content">
            <h2 class="main-title">Đại lý  giao nước uống quận 4</h2>
            <p class="main-description">
                ✅ ❤️➤ Đại lý giao nước uống quận 4 thuộc chuỗi giao nước uống tận nhà tại TPHCM của PHUCTOANWATER chuyên phục vụ nhu cầu cảu khách hàng về các loại nước uống đóng bình, đóng chai chất lượng, an toàn cho sức khỏe.


        </div>
        <div class="sidebar">
            <h4>THÔNG TIN LIÊN QUAN</h4>
            <ul>
                <li>
                    <img src="~/Content/assets/images/icon-giao-nuoc.png" alt="Image 1">
                    <a href="#">Giao nước uống khu vực Nguyễn Xí, quận Bình Thạnh giá rẻ</a>
                </li>
                <li>
                    <img src="~/Content/assets/images/hinhanh4.jpg" alt="Image 2">
                    <a href="#">Đổi nước bình 20L giá rẻ ở quận 10 gần đây, giao nhanh</a>
                </li>
                <li>
                    <img src="~/Content/assets/images/Giao nước uống tận nhà.jpg" alt="Image 3">
                    <a href="#">Đổi nước, giao nước bình 20L giá rẻ ở quận 5 gần đây</a>
                </li>
                <li>
                    <img src="~/Content/assets/images/dich-vu-giao-nuoc-tan-nha-giaonuoc.png" alt="Image 4">
                    <a href="#">Đổi nước bình 20L giá rẻ ở quận 11 gần đây, giao nhanh tận nhà</a>
                </li>
                <li>
                    <img src="~/Content/assets/images/hinhanh4.jpg" alt="Image 5">
                    <a href="#">Đổi nước, giao nước bình 20L giá rẻ quận Tân Bình gần đây</a>
                </li>
            </ul>
        </div>
    </div>
</div>


