
@{
    ViewBag.Title = "ThongBaoGuiMail";
}

<h2>Thông báo</h2>
<p>Một mail xác thực đã được gửi đến bạn, mời bạn vào gmail của mình và nhấn vào đường link trong mail đã được gửi để có thể đăng nhập  </p>

